CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# QTcreator files
# This is used for begineers to start... TODO: Build project using gradle...
*.autosave
